@import "./../../../components/sass/abtracts/variables";
@import "./../../../components/sass/abtracts/mixins";

.hero {
  &Section {
    background-color: rgba($color-heading, 0.4);
    height: 100vh;
    background-image: url(./../../../assets/icon/Green-Lines.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100rem;
    @include respond(medium) {
      height: auto;
    }
  }
  &Container {
    max-width: 145rem;
    padding: 10rem 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
    @include respond(medium) {
      grid-template-columns: 1fr;
    }
  }
  &Label {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  &Heading {
    font-size: 7.2rem;
    color: $color-primary;
    max-width: 60rem;
    line-height: 1.1em;
    font-weight: 500;
    @include respond(large) {
      font-size: 5.5rem;
    }
    @include respond(medium) {
      font-size: 4rem;
    }
  }
  &Img {
    height: 70rem;
    border-radius: 1rem;
    overflow: hidden;
    @include respond(medium) {
      height: 40rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &Header {
    align-self: center;
    display: grid;
    row-gap: 3rem;
    justify-items: start;
    align-items: start;
  }
  &Text {
    font-size: 2rem;
    font-family: "Red Hat Display", sans-serif;
    line-height: 1.5em;
  }
  &Form {
    display: grid;
    width: 100%;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  &Input {
    width: 100%;
    height: 6rem;
    padding: 0 1.5rem;
    border: none;
    outline: none;
    background-color: rgba($color-primary, 0.1);
    border-radius: 0.8rem;
    font-size: 1.6rem;
  }
  &Btn {
    grid-column: 1/-1;
    transition: all 0.2s;

    background-color: $color-primary;
    display: inline-block;
    color: $color-white;
    padding: 2rem 2rem 2rem 4rem;
    border-radius: 0.6rem;
    background-image: url(./../../../assets/icon/Vector-4.svg);
    background-repeat: no-repeat;
    background-position: 2em 50%;
    background-size: 0.8rem;
    font-family: "Sato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      padding-left: 5rem;
      background-position: 3rem 50%;
      transform: translateY(-2px);
    }
  }
}
