@import "./../../sass/abtracts/variables";
@import "./../../sass/abtracts/mixins";

.hero {
  &Section {
    padding: 15rem 1rem 0 1rem;
    background-color: $color-background-2;
    @include respond(large) {
      padding: 10rem 1rem 0 1rem;
    }
    @include respond(phone) {
      padding: 7.5rem 1rem 0 1rem;
    }
  }
  &Container {
    max-width: 145rem;
    background-image: url(./../../../assets/img/guillaume-bolduc-1080.jpeg);
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 60rem;
    background-size: 100%;
    background-position: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
    @include respond(medium) {
      height: 35rem;
    }
  }
  &Heading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 6.4rem;
    transform:  rotate(2deg);
    color: $color-primary;
    background-color: $color-background;
    width: 100%;
   
    height: 20rem;
    @include respond(medium) {
      height: 12.5rem;

    }
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sato", sans-serif;
    line-height: 1.1em;

    @include respond(large) {
      font-size: 5.5rem;
    }
    @include respond(medium) {
      font-size: 4rem;
    }
    @include respond(phone) {
      font-size: 3.5rem;
    }
  }
}
