@import "./../../sass/abtracts/variables";
.backdrop {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: 10000;
  background-color: rgba($color: #000000, $alpha: 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  // position: absolute;
  // top:50%;
  // left: 50%;

  // transform: translate(-50%, -50%);

  // overflow: hidden;
  // padding-top: 56.25%;
  width: 112rem;
  height: 73rem;
  position: relative;
//   padding-top: 56.25%;
  overflow: hidden;

}
.closeModal {
  padding: 1.5rem;
  position: absolute;
  top: 5rem;
  right: 5rem;
  color: $color-white;
  cursor: pointer;
}
