@import "./../../../components/sass/abtracts/variables";
.button {
  transition: all 0.2s;

  &:visited,
  &:link {
      background-color: $color-primary;
    display: inline-block;
    color: $color-white;
    padding: 1.2rem 2rem 1.2rem 4rem;
    border-radius: 0.6rem;
    background-image: url(./../../../assets/icon/Vector-4.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 0.8rem;
    font-family: "Sato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
  }
  &:hover,
  &:active {
   padding-left: 5rem;
    background-position: 3rem 50%;
    transform: translateY(-2px);
  }
}
