@import "./../../sass/abtracts/variables";
@import "./../../sass/abtracts/mixins";

.blog {
    &Section {
        background-color:$color-white;
    }
    &Container{
        max-width: 145rem;
        margin: 0 auto;
        padding: 15rem 2rem;
    }
    &Heading {
        display: grid;
        justify-items: center;
        row-gap: 3rem;
    }
    &Text {
        font-size: 2rem;
        max-width: 80rem;
        text-align: center;
        line-height: 1.6em;
    }
    &Content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
        @include respond( medium) {
            grid-template-columns: 1fr;
        }
    }
    &Card {
        margin-top: 10rem;
        position: relative;
        overflow: hidden;
        min-height: 60rem;
        padding: 15rem 3rem 3rem 3rem;
        border-radius: 0.8rem;
        display: flex;
        align-items: flex-end;
        @include respond (large) {
            min-height: 3.5rem;
        }
        
        &Img {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 0.8rem;
            object-fit: cover;
            // width: 60rem;


        }
        &Content {
            position: relative;
            padding: 2rem;
            background-color: $color-white;
            border-radius: 1rem;
            display: grid;
            row-gap: 1.5rem;
            z-index: 5;
            width: 100%;
            
            
        }
        &Profile {
            display: flex;
            gap: 1rem;
            align-items: center;
            
            img{
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                
            }
            p {
                font-size: 1.2rem;
                text-transform: uppercase;
               
            }
          
        }
        &Description {
           
           font-size: 2rem;
           font-family: "Sato", sans-serif;
           line-height: 1.1em;
           font-weight: 500;
        }
        &Link {
            &:link,
            &:visited {
              font-size: 1.4rem;
              text-decoration: none;
              color: $color-primary;
              padding-left: 1.4rem;
              font-weight: 300;
              display: inline-block;
              background-image: url(./../../../assets/icon/_Vector-3.svg);
              background-repeat: no-repeat;
              background-position: 0 40%;
              transition: all 0.4s;
            }
            &:hover,
            &:active {
              padding-left: 2rem;
              background-position: 0.6rem 40%;
            }
        }
    }
}