@import "./../../../assets/icon/Sato-Medium.ttf";
html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sato", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}
p {
  font-family: "Red Hat Display", sans-serif;
}
