@import "./../../sass/abtracts/variables";
@import "./../../sass/abtracts/mixins";

.call {
  &Section {
    background-color: $color-white;
    padding: 25rem 1rem 15rem 1rem;
    @include respond(large) {
      padding: 20rem 1rem 10rem 1rem;
    }
    @include respond(medium) {
      grid-template-columns: 1fr;
      padding: 10rem 1rem 10rem 1rem;
    }
    @include respond(phone) {
      padding: 10rem 1rem 7.5rem 1rem;
    }
    position: relative;
  }
  &Container {
    max-width: 145rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 5rem;
    column-gap: 10rem;
    @include respond(medium) {
      grid-template-columns: 1fr;
    }

    &::before {
      content: "";
      display: block;
      background-image: url(./../../../assets/icon/Lines.svg);
      background-color: $color-primary;
      background-repeat: no-repeat;
      background-position: 25%;
      background-size: cover;
      position: absolute;
      top: 15rem;
      width: 50vw;
      @include respond(large) {
        top: 10rem;
      }
      @include respond(medium) {
        top: auto;
        bottom: 0;
        width: 95vw;
        height: 40%;
      }
      right: 0;
      height: 50vh;

      z-index: 1;
    }
  }
  &Content {
    display: grid;
    row-gap: 3rem;
    align-items: start;
    justify-items: start;
  }
  &Heading {
    max-width: 60rem;
    font-size: 6.4rem;
    line-height: 1.1em;
    font-weight: 500;
    font-family: "Sato", sans-serif;
    @include respond(large) {
      font-size: 4rem;
    }
    @include respond(medium) {
      font-size: 3rem;
    }
  }
  &Text {
    font-size: 2rem;
    max-width: 50rem;
    font-weight: 400;
  }
  &Img {
    height: 50rem;
    width: 100%;
    @include respond(medium) {
      height: 35rem;
    }
    img {
      height: 100%;
      position: relative;
      z-index: 50;
      display: inline-block;
      width: 100%;
      object-fit: cover;
    }
  }
}
