@import "./../../sass/abtracts/variables";
@import "./../../sass/abtracts/mixins";

.pricing{
   &Section {
    background-color: $color-background-2;
    padding: 10rem 1rem;
    @include respond(phone) {
      padding: 7.5rem 1rem;
    }
   } 
  &Container {
    max-width: 145rem;
    margin: 0 auto;
    display: grid;
    column-gap: 5rem;
    row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

