$color-primary: #081158;
$color-heading: #8ea5a0;
$color-background: #cfddee;
$color-white:#fff;
$color-background-2:#eef0f4;
$color-background-3:#d2e4e0;
$color-background-4: #f5f5f5;
$color-sub-text: #ec8675;
$color-background-input: #2034921a;
