@import "./../../sass/abtracts/mixins";
@import "./../../sass/abtracts/variables";


.detail {
 
  &Container {
    max-width: 145rem;
    padding: 15rem 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 5rem;
    column-gap: 5rem;
    @include respond (medium) {
        grid-template-columns: 1fr;
    }
  }
  &Content {
    justify-self: center;
    align-self: center;
  }
  &Heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.8px;
  }
  &List {
    list-style: none;
    padding: 1.5rem 0 0 2rem;
    display: grid;
    row-gap: 1.5rem;
  }
  &Item {
    font-size: 1.6rem;
  }
  &Video {
    height: 70rem;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    @include respond(large) {
      height: 45rem;
    }
    &:hover {
      opacity: 0.8;
    }

    &Img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
    &PlayBtn {
      width: 10rem;
      height: 10rem;
      opacity: 0.8;
      // background-color: $color-primary;
      background-color: rgba($color-white, 0.4);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $color-white;
    }
    &PlayIcon {
      position: absolute;
      width: 3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    //   &Wrapper {
    //     position: relative;
    //     overflow: hidden;
    //     padding-top: 56.25%;
    //     z-index: 1000;
    //     width: 112rem;
    //     height: 73rem;
    //   }
    &Iframe {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100000;
    }
  }
}
