@import "./../../sass/abtracts/variables";
@import "./../../sass/abtracts/mixins";


.video {
  &Section {
    background-color: $color-white;

  }
  &Container {
    max-width: 145rem;
    padding: 15rem 2rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    row-gap: 10rem;
  }
  &Heading {
    display: grid;
    row-gap: 3rem;
  }
  &Text {
    font-size: 2rem;
    max-width: 80rem;
    text-align: center;
    font-weight: 400;
  }
  &Contain {
    height: 70rem;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    @include respond (large) {
        height: 45rem;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  &PlayBtn {
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    // background-color: $color-primary;
    background-color: rgba($color-white, 0.4);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $color-white;
  }
  &PlayIcon {
    position: absolute;
    width: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
//   &Wrapper {
//     position: relative;
//     overflow: hidden;
//     padding-top: 56.25%;
//     z-index: 1000;
//     width: 112rem;
//     height: 73rem;
//   }
  &Iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
  }
}
